<html>
  <head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet" href="panel.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body ng-app="PanelApp" ng-controller="PanelCtrl" ng-cloak>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script type="text/javascript" src="../utils.js"></script>
    <script type="text/javascript" src="panel.js"></script>

    <md-toolbar class="md-theme-light">
      <div class="md-toolbar-tools">
        <h2 flex md-truncate>Selector Builder</h2>
        <md-button class="md-icon-button" aria-label="Previous" ng-click="showTab(-1);" ng-disabled="selectedTab == 0">
          <md-icon>chevron_left</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Next" ng-click="showTab(1);"  ng-disabled="selectedTab == 2">
          <md-icon>chevron_right</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom md-selected="selectedTab" class="w2j-steps">
        <md-tab label="intro">
          <md-content class="md-padding">
            <p>This panel helps you to build a CSS selector matching some element(s) in a page.</p>
            <p>Select an element in the page to inspect it:
              <ul>
                <li>Click on the button <img src="inspector.png" height="13" width="13">
                in the toolbar of the developer tools panel,</li>
                <li>Select an element on the page,</li>
                <li>Show again this panel in the developer tools.</li>
              </ul>
            </p>
          </md-content>
        </md-tab>
        <md-tab label="selector">
          <md-content class="md-padding">
            <p>You can see a full selector for this element below. Click on the fragments of the selector you
            would like to pick.</p>
            <p>Currently,
              <span ng-if="numberOfMatches == 0">there is <b>no element</b></span>
              <span ng-if="numberOfMatches == 1">there is <b>exactly 1 element</b></span>
              <span ng-if="numberOfMatches > 1">there are <b>{{numberOfMatches}} elements</b></span>
              in the page matching your selection.
            </p>
            <div class="w2j-selector">
              <div class="w2j-ancestor" ng-repeat="selectableAncestorInfo in selectableAncestorInfos">
                <div class="md-list-item-text">
                  <w2j-selector-item selected="selectableAncestorInfo.tagName.selected" tag="true">{{selectableAncestorInfo.tagName.value}}</w2j-selector-item><!--
                  --><w2j-selector-item selected="selectableAncestorInfo.id.selected" ng-if="selectableAncestorInfo.id.value">#{{selectableAncestorInfo.id.value}}</w2j-selector-item><!--
                  --><w2j-selector-item selected="className.selected" ng-repeat="className in selectableAncestorInfo.classNames">.{{className.value}}</w2j-selector-item><!--
                  --><w2j-selector-item selected="className.selected" ng-repeat="attribute in selectableAncestorInfo.attributes">[{{attribute.value}}]</w2j-selector-item>
                </div>
              </div>
            </div>
            <div layout="row" layout-align="end center">
              <md-button class="md-raised" ng-click="showMatches = !showMatches">
                {{showMatches ? 'Hide' : 'Show'}} matches</md-button>
              <md-button class="md-raised md-primary" ng-click="selectedTab = 2">OK</md-button>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="three">
          <md-content class="md-padding">
            Congratulations! You are done. Here is your selector:
            <md-input-container class="md-block">
              <label>Selector</label>
              <textarea readonly id="selector" ng-model="selector" md-select-on-focus></textarea>
            </md-input-container>
            <div layout="row" layout-align="center center">
              <md-switch ng-model="selectorLineBreaks" aria-label="Line breaks">
                Line breaks
              </md-switch>
              <div flex></div>
              <md-button class="md-raised md-primary" ng-click="copySelectorToClipboard();">Copy to clipboard</md-button>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
      </div>
    </md-content>
  </body>
</html>
