.w2j-selector, .w2j-header {
  padding: 12px;
}

.w2j-ancestor {
}

.w2j-selector-item {
  display: inline-block;
  cursor: pointer;
  color: #aaa;
  outline: none;
}

.w2j-selector-item:hover {
  color: rgb(63,81,181);
}

.w2j-selector-tag {
  font-weight: bold;
}

.w2j-selector-item-selected {
  color: black;
}

md-tabs.w2j-steps md-tabs-wrapper {
  display: none;
}

md-tabs.w2j-steps {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
}
