.w2j-selector {
  white-space: pre;
}

.w2j-selector-item {
  background-color: #ddd;
  border: solid 1px #ddd;
  border-radius: 100px;
  display: inline-block;
  padding: 2px 4px;
  cursor: pointer;
}

.w2j-selector-item:hover {
}

.w2j-selector-tag {
  font-weight: bold;
}

.w2j-selector-item-selected {
  background-color: rgb(63,81,181);
  color: white;
}
